main {
    color: #666;
}

.ht-main {
    padding-top: 80px;
}

.ht-footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #666;
    background-color: #dee2e6;
}

.logo_login {
    font-size: 0.9em;
    margin-right: 0.5rem;
}

.ht-nav-item {
    margin-right: 0.5rem;
}

.ht-header-table {
    padding: 5px 0px 5px 0px;
}

.ht-bt-table {
    width: 132px;
}

.ht-data-table {
    width: 150px;
}